<launch>

    <!-- KMEANS -->
    <!-- arguments -->
    <arg name="path_kmeans_model" default='/home/paolo/cvsa/ic_cvsa_ws/src/kmeans_cvsa/cfg/test.yaml'/>
    <arg name="samplerate" default='16'/>

    <!-- node -->
    <node name="kmeans_node" pkg="kmeans_cvsa" type="kmeans.py" output="screen"> 
        <param name="path_kmeans_model"   value="$(arg path_kmeans_model)"/>
    </node>

    <!-- TEST NODES -->
    <!-- logger node -->
    <node pkg="kmeans_cvsa" type="test_logger_kmeans_cvsa" name="test_logger_kmeans_cvsa" output="screen">
        <param name="output_filename" value="$(find kmeans_cvsa)/test/node/classified.csv"/>
    </node>
    
    <!-- publisher node -->
    <node pkg="kmeans_cvsa" type="test_publisher_kmeans_cvsa" name="test_publisher_kmeans_cvsa" output="screen">
        <param name="csv_file" value="$(find kmeans_cvsa)/test/processed_data.csv"/>
        <param name="sample_rate" value="$(arg samplerate)"/> 
    </node>


</launch>